.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
    padding-bottom: 0.5em;
    color: var(--main);
}

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--theme);
    border-radius: 0.5em;
    padding: 2em 3em;
}

.submission__response {
    text-align: center;
    width: 15em;
    color: var(--accent);
    border: 2px solid var(--accent);
    background: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    height: 0.1em;
    overflow: hidden;
    opacity: 0;
}

.submission__response__active {
    opacity: 1;
    height: 6em; 
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.list__item {
    display: flex;
    flex-direction: column;
    width: 15em;
}

.label {
    font-size: 1.05rem;
    color: var(--main);
}

.input {
    all: unset;
    font-size: 1rem;
    border-bottom: 2px solid var(--main);
    resize: none;
    word-wrap: break-word;
    transition: 200ms;
}

.input:focus {
    background-color: rgba(255, 255, 255, 0.146);
    transition: 200ms;
}

.email {
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    gap: 0.25em;
    color: var(--main)
}