.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--theme);
    border-radius: 0.5em;
    padding: 2em 3em;
}

.title {
    font-size: 3rem;
    padding-bottom: 0.5em;
    color: var(--main);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.list__item {
    display: flex;
    flex-direction: column;
    width: 15em;
}

.label {
    font-size: 1.05rem;
    color: var(--main);
}

.input {
    all: unset;
    font-size: 1rem;
    border-bottom: 2px solid var(--main);
    resize: none;
    word-wrap: break-word;
    transition: 200ms;
}

.input:focus {
    background-color: rgba(255, 255, 255, 0.146);
    transition: 200ms;
}

.button {
    border: 2px solid var(--main);
    padding: 0.25em 0.5em;
    margin: 1.5em 0;
    border-radius: 0.3em;
    transition: 200ms;
    color: var(--main)
}

.button:hover {
    background: var(--main);
    color: var(--theme);
    transition: 200ms;
}

.button:active {
    background: var(--theme);
    color: var(--main);
    transform: translateY(-0.25em);
}

.email {
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    gap: 0.25em;
    color: var(--main)
}