.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 1.5em;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 0.5em;
}

.title {
    font-size: 3.5rem;
    font-weight: bold;
}

.blurb {
    font-size: 1.25rem;
}

.social__media {
    display: flex;
    gap: 1em;
}

.icon {
    font-size: 2em;
}

.headshot__container {
    width: 16em;
    height: 16em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid black;
}

.headshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 16em;
    height: auto;
}

@media screen and (min-width: 480px){
    .content {
        margin-top: 3.5em;
    }

    .social__media {
        gap: 1.5em;
    }

    .icon {
        font-size: 2.5em;
    }

}

@media screen and (min-width: 900px){
    .hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .content {
        align-items: flex-start;
        text-align: left;
        flex-basis: 0.5;
        gap: 1em;
        flex-basis: 50%;
        margin-top: unset;
    }

    .title {
        white-space: nowrap;
    }
}