.hero {
    height: 100vh;
    display: flex;
    padding-top: 3em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.title {
    font-size: 3.5rem;
    font-weight: bold;
}

.blurb {
    font-size: 1.1rem;
}

.social__media {
    display: flex;
    gap: 0.5em;
}

.headshot__container {
    width: 18em;
    height: 18em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid black;
}

.headshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 18em;
    height: auto;
}