.nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.item__list {
    display: flex;
    width: 18em;
    margin: 0 auto;
}

.list__item {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

.list__item:after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 5em;
    height: 4em;
    border-radius: 0.5em 0.5em 0 0;
    background: white;
    transform: translateY(100%);
    transition-delay: 400ms;
    transition: 300ms;
}

.page__load__active:after {
    transform: translateY(0%);
    background: var(--theme);
    transition: 300ms;
    transition-delay: 1600ms;
}

.active:after {
    transform: translateY(0%);
    background: var(--theme);
    transition: 300ms;
}

.item {
    padding-bottom: 1em;
    z-index: 1;
    color: var(--main);
}

.item:hover {
    opacity: 0.7;
}

.item:active {
    opacity: 0.5;
}


@media screen and (min-width: 900px) {
    .nav {
        position: unset;
        width: unset;
    }
    .item__list {
        width: 16em;
        justify-content: space-between;
    }

    .list__item {
        flex: unset;
    }

    .list__item:after {
        transform: translateY(-100%);
        border-radius: 0 0 0.5em 0.5em;
    }

    .page__load__active:after {
        transform: translateY(0%);
    }

    .active:after {
        transform: translateY(0%);
    }
}