.nav {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.item__list {
    display: flex;
    justify-content: center;
    gap: 2.5em;
}

.list__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__item:after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 5em;
    height: 4em;
    border-radius: 0.5em 0.5em 0 0;
    background: orange;
    transform: translateY(100%);
}

.active:after {
    transform: translateY(0%);
}

.item {
    padding-bottom: 1em;
    text-align: center;
    z-index: 1;
    color: black
}

@media screen and (min-width: 900px) {
    .nav {
        position: unset;
        width: unset;
    }
    .item__list {
        margin: 0;
        padding: 0;
    }
    .list__item:after {
        transform: translateY(-100%);
        border-radius: 0 0 0.5em 0.5em;
    }
    .active:after {
        transform: translateY(0%);
    }
}