.body {
  background: var(--theme);
}

.theme__toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  display: flex;
  cursor: pointer;
  z-index: 10;
}

.theme__icon {
  color: var(--main);
  font-size: 1.5em;
}

.logo {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 9em;
  color: var(--main);
  font-size: 0.7rem;
}

.footer__link {
  color: var(--theme);
}

.footer__span {
  display: flex;
  gap: 0.5em;
}

.footer__github {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2em;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 900px) {
  .logo {
    display: block;
    position: relative;
  }

  .logo:after {
    position: absolute;
    content: '';
    border-bottom: 2px solid var(--theme);
    width: 0%;
    bottom: 0;
    left: 0;
    /* transition: 800ms;
    transition-delay: 2000ms; */
    transition: 800ms;
    transition-delay: 1800ms;
  }

  .logo__load:after {
    width: 100%;
  }

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: var(--main);
    opacity: 0;
    transition: 200ms;
  }

  .header__active {
    opacity: 1;
    transition: 800ms;
    transition-delay: 1000ms;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
  }

  .footer {
    margin-bottom: unset;
    height: 6em;
    align-items: center;
  }
}

@media screen and (min-width: 1000px){
  .theme__toggle {
    margin-right: 1.5em;
  }
}

@media screen and (min-width: 1200px){
  .theme__toggle {
    margin-right: 3em;
  }
}