.logo {
  display: none;
}

@media screen and (min-width: 900px){
  .logo {
    display: block;
  }

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
  }
}