.body {
  background: var(--theme);
}

.logo {
  display: none;
}

@media screen and (min-width: 900px){
  .logo {
    display: block;
    position: relative;
  }

  .logo:after {
    position: absolute;
    content: '';
    border-bottom: 2px solid var(--theme);
    width: 0%;
    bottom: 0;
    left: 0;
    transition: 300ms;
    transition-delay: 1000ms;
  }

  .logo__load:after {
    width: 100%;
  }

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: var(--main)
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
  }
}